.jsplumb-container {
  min-width: 800px;
  min-height: 800px;
  position: relative;

  .jsplumb-node {
    cursor: move;
    width: 100px;
    height: 100px;
    position: absolute;
    pointer-events: auto;
  }

  md-card {
    border-radius: 8px;
    position: relative;
  }

  > md-card {
    min-width: inherit;
    min-height: inherit;
    pointer-events: none;
  }

  [contenteditable] {
    cursor: text;
    outline: none;
    display: inline-block;
    border-bottom: dashed 1px;
  }

  .action-wrapper, .text-wrapper {
    width: 100%;
    min-width: 3em;
    min-height: 3em;
    overflow: hidden;
    border-radius: 8px;
  }

  .connect-node, .delete-node, .edit-node {
    height: 1em;
    cursor: pointer;
    overflow: hidden;

    &:hover {
      filter: contrast(200%) brightness(150%);
    }
  }

  .edit-node {
    color: green;
  }

  .delete-node {
    color: red;
    filter: brightness(75%);
  }

  .connect-node {
    &:hover {
      color: blue;
      filter: contrast(50%) brightness(50%);
    }
  }
}

._jsPlumb_drag_select, .jtk-drag-select {
  * {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
}
