//Colours

$primary: 'deep-purple';
$accent: 'purple';
$warn: 'pink';

$link: 'purple';

$dark: true;
$default-color: '700';

$foreground: 'foreground-dark';

$base-background-color: white;
$base-color: rgba(0, 0, 0, 0.87);
