<h2 id="title">Ember CLI JS Plumb</h2>

{{ember-jsplumb
  definition=definition
}}

{{ember-ace
  lines=35
  readOnly=true
  mode="ace/mode/json"
  theme="ace/theme/chrome"
  value=definitionString
}}