<h2 id="title">Ember CLI JS Plumb</h2>

{{jsplumb-container
  definition=definition
}}

<h3>Definition</h3>
{{#paper-content}}
  {{ember-ace
    lines=60
    readOnly=true
    mode="ace/mode/json"
    theme="ace/theme/chrome"
    update=(action (mut definition))
    value=(json-stringify definition)
  }}
{{/paper-content}}